<template>
<div class="container">
        <div class="row justify-content-center">
            <canvas id="myChart" width="400" height="400"></canvas>
             
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: {
            url: '',
        },
        data() {
            return {
                charts: '',
            }
        }
    }
</script>
