<template>
<div>
<div class="section">
        <div class="container">
            <div class="row">    
                <form @submit.prevent="fetchData">
                    <div class="col s5">
                            <select  class="browser-default" v-model="lga">
                                <option v-for="(value, key) in lgas" v-bind:value="key" v-text="value"> </option>
                            </select>
                    </div>
                    <div class="col s5">
                            <select  class="browser-default" v-model="industry">
                                <option v-for="(value, key) in industries" v-bind:value="key" v-text="value"> </option>
                            </select>
                    </div>
                    <div class=" s2 ">
                        <button type="submit"  class="col  waves-effect waves-light btn">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
        <div class="lgaInfo section container" v-for="(value, key) in searchData">
          <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                    
                  <span class="card-title" v-if="value.name"> <strong> Name: </strong>{{value.name}}</span>
                  <span class="card-title" v-if="value.category"> <strong> Category: </strong>{{value.category}}</span>
                  <span class="card-title" v-if="value.ownership_type"> <strong> Ownership: </strong>{{value.ownership_type}}</span>
                  <span class="card-title" v-if="value.year_of_establish"> <strong> Year Of Establish: </strong>{{value.year_of_establish}}</span>
                  <span class="card-title" v-if="value.status"> <strong> Status: </strong>{{value.status}}</span>
                  <span class="card-title" v-if="value.consultant"> <strong> Consultant: </strong>{{value.consultant}}</span>
                   <span class="card-title" v-if="value.doctor"> <strong> Doctor: </strong>{{value.doctor}}</span>
                   <span class="card-title" v-if="value.nurse"> <strong> Nurse: </strong>{{value.nurse}}</span>
                   <span class="card-title" v-if="value.bed"> <strong> Bed: </strong>{{value.bed}}</span>
                  <span class="card-title" v-if="value.students"> <strong> Students: </strong>{{value.students}}</span>
                  <span class="card-title" v-if="value.teachers"> <strong> Teachers: </strong>{{value.teachers}}</span>
                  <span class="card-title"> <strong>Community: </strong> {{value.community_id}}</span>
                  <span class="card-title"> <strong>LGA: </strong> {{value.lga.name}} </span>
                  
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn cyan pulse left" :href="'/communities/'+value.community_id">
                    Learn More
                  </a>
                </div>
              </div>
              <div class="card-image">
                  <img :src="'/storage/ado-ekiti/'+value.image_path">
              </div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert" v-if="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                 {{ value.error }}
        </div>
        </div>
        

   </div>
</template>

<script>
    export default {
        data() {
            return {
                searchData: [],
                loading: false,
                error: false,
                industry: '',
                lga: '',
                lgas: [],
                industries: []
            }
        },
        methods: {
            fetchData: function(){
                 // Clear the error message.
                this.error = '';
                // Empty the Search Data array so we can fill it with the new Search Data.
                this.searchData = [];
                // Set the loading property to true, this will display the "Searching..." button.
                this.loading = true;
            axios.get('/api/search-industry-by-lga', {
                params: {
                    industry: this.industry,
                    lga: this.lga
                },
            }, this.loading = true)
            .then(({data}) => this.searchData = data)
            .catch(({error}) => this.error = error);

            
          }
        
        },
        created() {
          axios.get('/api/list-industry').then(
              ( {data} ) => this.industries = data
              );
          axios.get('/api/list-lga').then(response => this.lgas = response.data);
        }
    }
</script>
