<template>
<div class="section container">
        <div class="row">
            <form class="col s12" @submit.prevent="search()">
                <div class="row">
                    <div class="input-field">

                            <i class="material-icons prefix">search</i>
                            <input type="text" class="validate" placeholder="What are you looking for?" v-model="query" required>
                            <label for="search">Search</label>
                    </div> <button class="btn btn-default" type="button" @click="search()" v-if="!loading">Search!</button>
                        
                            <button class="btn btn-default" type="button" disabled="disabled" v-if="loading">Searching...</button>
                </div>
                           
            </form>
        

            <div class="col s12" v-if="searchData" v-for="(value, key) in searchData" v-bind:class="loading= false">
                <div>
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title" v-if="value.name"> <strong> Name: </strong>{{value.name}}</span>
                                <span class="card-title" v-if="value.category"> <strong> Category: </strong>{{value.category}}</span>
                                <span class="card-title" v-if="value.ownership_type"> <strong> Ownership: </strong>{{value.ownership_type}}</span>
                                <span class="card-title" v-if="value.year_of_establish"> <strong> Year Of Establish: </strong>{{value.year_of_establish}}</span>
                                <span class="card-title" v-if="value.status"> <strong> Status: </strong>{{value.status}}</span>
                                <span class="card-title" v-if="value.consultant"> <strong> Consultant: </strong>{{value.consultant}}</span>
                                <span class="card-title" v-if="value.doctor"> <strong> Doctor: </strong>{{value.doctor}}</span>
                                <span class="card-title" v-if="value.nurse"> <strong> Nurse: </strong>{{value.nurse}}</span>
                                <span class="card-title" v-if="value.bed"> <strong> Bed: </strong>{{value.bed}}</span>
                                <span class="card-title" v-if="value.students"> <strong> Students: </strong>{{value.students}}</span>
                                <span class="card-title" v-if="value.teachers"> <strong> Teachers: </strong>{{value.teachers}}</span>
                                <span class="card-title"> <strong>Community: </strong> {{value.community_id}}</span>
                                <span class="card-title"> <strong>LGA: </strong> {{value.lga.name}} </span>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>   
</template>

<script>
    export default {
        data() {
            return {
                searchData: [],
                loading: false,
                error: false,
                query: ''
            }
        },
        methods: {
            search: function() {
                if (this.query === '') return alert("Please specify what you are searching for");
                // Clear the error message.
                this.error = '';
                // Empty the Search Data array so we can fill it with the new Search Data.
                this.searchData = [];
                // Set the loading property to true, this will display the "Searching..." button.
                this.loading = true;
            
            // Making a get request to our API and passing the query to it.
            axios.get('/api/search', {
                 params: {
                    q: this.query
                }
            })
            .then(( {data} ) => this.searchData = data);
            }
        }
    }
</script>
