<template>
<div>
<div class="section">
        <div class="container">
            <div class="row">    
                <form @submit.prevent="fetchData">
                    <div class="col s3">
                            <select  class="browser-default" v-model="industry" @change="getCategory(); getOwnership(); " >
                                <option value="" disabled selected>Choose Industry</option>
                                <option v-for="(value, key) in industries" v-bind:value="key" v-text="value"> </option>
                            </select>
                    </div>

                    <div class="col s4">
                            <select  class="browser-default" v-model="type">
                                 <option selected value='' v-if='category'>All</option>
                                <option v-for="(value, key) in category" v-bind:value="value" v-text="value"> </option>
                            </select>
                    </div>

                    <div class="col s3">
                            <select  class="browser-default" v-model="ownership">
                                <option selected value='' v-if='ownershipType'>All</option>
                                <option v-for="(value, key) in ownershipType" v-bind:value="value" v-text="value"> </option>
                            </select>
                    </div>
                    <div class="col s2">
                                <select  class="browser-default" v-model="chartType">
                                    <option selected value="bar">Bar Chart </option>
                                    <option value="line">Line Chart</option>
                                </select>
                    </div>
                    <div class="col s12 valign-wrappe" style="margin:10px">
                        
                        <div class="center-align">
                            <button type="submit"  class="waves-effect waves-light btn">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
     <div class="divider"></div>
    <div class="container">
        <div class="row justify-content-center">
            <canvas id="myChart" width="200" height="100"></canvas>
             
        </div>
    </div>

   </div>
</template>

<script>
    export default {
        data() {
            return {
                category: '',
                loading: false,
                error: false,
                industry: '',
                type: '',
                ownershipType: '',
                ownership: '',
                chartType: 'bar',
                industries: '',
                myChart: '',
                loadGraph: false,
                lga: ''
                
            }
        },
        methods: {
            fetchData: function(){
            axios.get('/api/search-by-lga', {
                params: {
                    industry: this.industry,
                    type: this.type,
                    ownership: this.ownership
                }
            }).then(response => this.render(response.data));
          },
          render (data) {
            if (this.loadGraph === true){
                this.myChart.destroy();
                this.loadGraph = false;
            }
            var ctx = document.getElementById("myChart").getContext('2d');
                this.myChart = new Chart(ctx, {
                    type: this.chartType,
                    data: {
                        datasets: [{
                            label: this.industries[this.industry],
                            data: data,
                            backgroundColor: [
                                "#1abc9c", "#f1c40f","#74b9ff","#81ecec",
                                "#fff200", "#f39c12", "#bdc3c7","#3498db",
                                "#9b59b6","#e67e22", "#9b59b6", "#6c5ce7",
                                "#2c3e50","#7f8c8d","#2ecc71", "#c0392b"
                            ],
                            borderColor: [
                                "#1abc9c", "#f1c40f","#74b9ff","#81ecec",
                                "#fff200", "#f39c12", "#bdc3c7","#3498db",
                                "#9b59b6","#e67e22", "#9b59b6", "#6c5ce7",
                                "#2c3e50","#7f8c8d","#2ecc71", "#c0392b"
                            ],
                            borderWidth: 1
                        }],
                        labels: Object.values(this.lga),
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                this.loadGraph = true;
                
            },
            getCategory(){
              axios.get('api/industry-category/'+this.industry)
              .then( ({data} ) => this.category = data);
              this.type = '';
          },

          getOwnership(){
              axios.get('api/industry-ownership/'+this.industry)
              .then( ({data} ) => this.ownershipType = data);
              this.ownership = '';
          },
        
        },
        created() {
          axios.get('/api/list-industry').then(
              ( {data} ) => this.industries = data);
          axios.get('/api/list-lga').then(response => this.lga = response.data);
        }
    }
</script>
